@import "normalize";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/css3/inline-block";

@import "Partials/utilities";
@import "Partials/branding";
@import "Partials/frame";
@import "Partials/grid-view";
@import "croppic.css";

body {
    font-size: 1em;
	@include brand-font;
    color: #666;
}

a {
	color: #1882c5;
	text-decoration: none;
	&:hover { color: #84C2E9; }
}
h1 {
	font-size: 2em;
	color: #8dc63f;
	margin: 0 0 .2em;
}
h2 {
	font-size: 1.25em;
	line-height: 1.3em;
	margin: 0 0 1em;
	font-weight: normal;
	color: #515151;
}
h3 {
	font-size: 1.5em;
	margin: 0;
	padding: 0.5em .45em;
	background: #272727;
	line-height: 1em;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	border-radius: 6px 6px 0 0;
}
p {
	line-height: 1.3;
}
.main, .wrap {
	max-width: 57em;
	margin: 0 auto;
	padding: 0 1.5em;
}
.main {
	padding: 2em 1.5em;
	min-height: 44em;
	.main-header { margin-bottom: 2em; }
}

.footer {
	background: #373737;
}

.grid-form,
.microdata {
	margin-top: 2em;
}
.grid-form {
	div { margin-top: 1em; }
	.error {
		color: red;
		float: right;
	}
}
fieldset {
	border: 0;
	margin: 0;
}
label,
input[type=text],
input[type=url] {
	font-size: 1.1em;
	display: block;
}
label {
	margin: 0 0 0.3em 0;
	font-weight: bold;
	&:first-child { margin-top: 0; }
	&.the-code { font-size: 1.5em; }
}
input[type=text],
input[type=url] {
	width: 100%;
	margin: 0;
	padding: .5em;
	@include box-sizing(border-box);
	background: #fff;
	border: 1px solid #ccc;
}

::-webkit-input-placeholder {
   color: #d1d1d1;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d1d1d1;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d1d1d1;  
}

:-ms-input-placeholder {  
   color: #d1d1d1;  
}

button, .btn {
	display: block;
	padding: 0 1em;
	margin: 2em 0 0 0;
	height: 2.5em;
	background-color: #8dc63f;
	color: #fff;
	border: 0;
	border-radius: 0.25em;
	text-align: center;
	font-weight: bold;
	&:hover { background: #72a230; }
}
.microdata {
	pre {
		font-size: 0.75em;
		width: 100%;
		margin: 1.75em 0 0;
		padding: 1em;
		line-height: 1.5;
		@include box-sizing(border-box);
		border: 1px solid #ccc;
		background-color: #FAFAFA;
		.tag { color: #008; }
		.pln { color: #000; }
		.atn { color: #606; }
		.atv { color: #080; }
	}
}

#grid-view {
	margin: 0 auto;
}
.get-the-code {
	margin-top: 3.5em;
	.stayintouch {
	padding: 1.5em;
	border-radius: 0 0 6px 6px;
	background: #f2f2f2;
		p {
			margin: 0 0 1em 0;
		}
		.field {
			@include clearfix;
			max-width: 17em;
		}
		fieldset { padding: 0; }
		input[type=email] {
			font-size: .9em;
			float: left;
			width: 92%;
			height: 2.65em;
			padding: 0 3%;
			background: #fff;
			color: #ccc;
			vertical-align: top;
			border: 1px solid #d6d6d6;
			border-radius: 0 0.25em 0.25em 0;
		}
		.btn {
			float: left;
			margin: 0 0 0 -50px;
			width: 50px;
			padding: 0 .5em;
		}
	}
}
@media only screen and (min-width: 48em) {
	h1 { font-size: 2.75em; }
	h2 { font-size: 1.8em; }
	.main {
		@include clearfix;
		padding: 2em 1.5em 4em;
		.main-header { margin-bottom: 3em; }
		.grid-form, .microdata {
			margin-left: 22em;
		}
		#grid-view {
			float: left;
			margin-top: 0;
		}
	}
}