<div id="grid-view">
	<div class="grid-view-hero" style="{{featuredImageCss}}">
		<div id="/cropContainerModal" style="width: 100%; height: 200px;"></div>
	</div>
	<div class="grid-view-desc">
		<span class="google-icon"><img src="{{googlePlusImageUrl}}" /></span>
		<div class="from">{{companyName || '[Sender Name]'}}</div>
		<div class="subject">
			<b>{{subject || '[Subject Line]'}} </b>
		</div>
		<div class="time">Apr 1</div>
	</div>
	<div id="grid-view-select" class="grid-view-select">
		<div class="checkbox"></div>
	</div>
	<div id="grid-view-favorite" class="grid-view-favorite">
		<div class="star">
		</div>
	</div>
	<div class="grid-view-delete">
		<div class="delete"></div>
	</div>
</div>