---
title: DEG | Gmail Grid View Generator
---

<header class="main-header">
	<h1>Gmail Grid View Generator</h1>
	<h2>
		Optimize your Gmail subscribers' experience.
	</h2>
	<p>
		
		Back up… what’s Gmail Grid View? <a href="http://www.degdigital.com/blog/gmail-testing-a-more-visual-way-to-view-email/" target="_blank">Learn more here</a>.
	</p>
	<p>
		Let's play! Complete the fields below to preview your Gmail Grid View experience. When you're satisfied with your creation, click “Get the Code” and we’ll generate the code you need for your email’s HTML.
	</p>
</header>
<div ng-view></div>
