---
title: Gmail Grid View
---

<h1>Add Gmail Microdata to Your Email</h1>
<h2>Description</h2>

<ul>
	<li><a href ng:click="selected='form'">Create Grid</a></li>
	<li><a href ng:click="selected='code'">Get Code</a></li>
</ul>

<div id="grid-view">
	<div class="grid-view-hero" style="{{featuredImageCss}}">
		<div></div>
	</div>
	<div class="grid-view-desc">
		<span class="google-icon"><img src="{{googlePlusImageUrl}}" /></span>
		<div class="from">{{companyName || '[Sender Name]'}}</div>
		<div class="subject">
			<b>{{subject || '[Subject Line]'}} </b>
		</div>
		<div class="time">Apr 1</div>
	</div>
	<div id="grid-view-select" class="grid-view-select">
		<div class="checkbox"></div>
	</div>
	<div id="grid-view-favorite" class="grid-view-favorite">
		<div class="star">
		</div>
	</div>
	<div class="grid-view-delete">
		<div class="delete"></div>
	</div>
</div>

<div class="microdata" ng:show="selected == 'code'">
	<label>Copy &amp; insert into your email's HTML </label>
	<pre translate="no"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">itemscope</span><span class="pln"> </span><span class="atn">itemtype</span><span class="pun">=</span><span class="atv">"http://schema.org/EmailMessage"</span><span class="tag">&gt;</span><span class="pln">
    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">itemprop</span><span class="pun">=</span><span class="atv">"publisher"</span><span class="pln"> </span><span class="atn">itemscope</span><span class="pln"> </span><span class="atn">itemtype</span><span class="pun">=</span><span class="atv">"http://schema.org/Organization"</span><span class="tag">&gt;</span><span class="pln">
        </span><span class="tag">&lt;meta</span><span class="pln"> </span><span class="atn">itemprop</span><span class="pun">=</span><span class="atv">"name"</span><span class="pln"> </span><span class="atn">content</span><span class="pun">=</span><span class="atv">"<span id="company-name-markup">{{companyName}}</span>"</span><span class="tag">/&gt;</span><span class="pln">
        </span><span class="tag">&lt;link</span><span class="pln"> </span><span class="atn">itemprop</span><span class="pun">=</span><span class="atv">"url"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"<span id="company-url-markup"></span>"</span><span class="tag">/&gt;</span><span class="pln">
        </span><span class="tag">&lt;link</span><span class="pln"> </span><span class="atn">itemprop</span><span class="pun">=</span><span class="atv">"url/googlePlus"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"<span id="company-url-plus-markup">{{googlePlus}}</span>"</span><span class="tag">/&gt;</span><span class="pln">
    </span><span class="tag">&lt;/div&gt;</span><span class="pln">
    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">itemprop</span><span class="pun">=</span><span class="atv">"about"</span><span class="pln"> </span><span class="atn">itemscope</span><span class="pln"> </span><span class="atn">itemtype</span><span class="pun">=</span><span class="atv">"http://schema.org/Offer"</span><span class="tag">&gt;</span><span class="pln">	
          </span><span class="tag">&lt;link</span><span class="pln"> </span><span class="atn">itemprop</span><span class="pun">=</span><span class="atv">"image"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"<span id="featured-image-markup">{{featuredImageUrl}}</span>"</span><span class="tag">/&gt;</span><span class="pln"></span>
     <span class="tag">&lt;/div&gt;</span><span class="pln"></span>
<span class="tag">&lt;/div&gt;</span><span class="pln"></span></pre>
</div>

<div class="grid-form" ng:show="selected == 'form'">

	<form name="gridForm" ng:submit="selected='code'">
		<label for="company-name">Your Company Name</label>
		<input id="company-name" type="text" ng-model="companyName" />
		
		<label for="company-url">Your Company Homepage</label>
		<input id="company-url" type="url" ng-model="companyUrl" />

		<label for="company-url-plus">Your Company Google+ URL</label>
		<input id="company-url-plus" value="https://plus.google.com/+leejeans/posts" name="googlePlus" type="url" ng-model="googlePlus" ng-blur="fetchGooglePlusData()" />
		<small>Optional but recommended—will pull in your logo/profile image</small>
		<span class="error" ng-show="gridForm.googlePlus.$error.url">Invalid url.</span>
		
		<label for="featured-image">Featured Image URL</label>
		<input id="featured-image" name="featuredImage" type="url" ng-model="featuredImage" ng-blur="setFeaturedImage()" />
		<small>Min. 580px x 400px; host your own image or use a free service</small>
		<span class="error" ng-show="gridForm.featuredImage.$error.url">Invalid url.</span>
		
		<label for="subject-line">Subject Line</label>
		<input id="subject-line" type="text" ng-model="subject" />

		<button id="generate" type="submit">Generate Grid View</button>

	</form>
</div>
